acvl_utils==0.2
batchgenerators==0.25
dynamic_network_architectures==0.2
nibabel==5.2.1
numpy==1.24.1
openpyxl==3.1.2
pandas==2.0.3
pingouin==0.5.4
scipy==1.13.0
SimpleITK==2.2.1
scikit-image==0.21.0
torch==2.0.1
tqdm==4.66.1
